# Ignore build and intermediate files
*.o
*.obj
*.elf
*.bin
*.hex
*.map
*.lst
*.out
*.d
*.dep
*.axf
*.sct
*.crf
*.htm
*.log
*.ini
*.scvd
*.uvguix.*
*.uvoptx
*.uvprojx
*.suo
*.ncb
*.user
*.aps
*.pch
*.idb
*.pdb
*.ilk
*.exp
*.lib
*.bak
*.swp
*.tmp
*.temp
*.~*